doctype html
html
  head
    title='titulo 2'
    link(href='/js/lib_calendario/main.css', rel='stylesheet')
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")   
    script(src='/js/lib_calendario/main.js')
    script(src='/js/lib_calendario/locales-all.js')
    script(src='/js/lib_calendario/locales/pt-br.js')  
    script(src="/js/calendar.js", type="javaScript")
  body
    block content
