@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

h2 {
  text-align: center;
  color: cornflowerblue;
}

input {
  width: 100%;
  background-color: blue;
}


html {
  font-family: Arial;
  font-size: 16px;
  background: #5e42a6;
}