doctype html
html
  head
    title='titulo 2'
    link(href='/css/login/login.css', rel='stylesheet')
    link(href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  body
#container.container
  .form-container.sign-up-container
    form(action='/' method='POST' )
      h1 Nova Conta
      //.social-container
        a.social(href='#')
          i.fab.fa-facebook-f
        a.social(href='#')
          i.fab.fa-google-plus-g
        a.social(href='#')
          i.fab.fa-linkedin-in
      span Ou use seu email para entrar
      input(name="name", type='text', placeholder='Nome', required)
      input(name="email", type='email' ,placeholder='Email', required)
      input(name="password", type='password', placeholder='Senha', required)
      button Cadastrar
  .form-container.sign-in-container
    form(action='/login', method='post')
      h1 Entrar
      //.social-container
        a.social(href='#')
          i.fab.fa-facebook-f
        a.social(href='#')
          i.fab.fa-google-plus-g
        a.social(href='#')
          i.fab.fa-linkedin-in
      span ou use sua conta
      input(name='email',type='email' ,placeholder='Email', required)
      input(name='password',type='password', placeholder='Senha')
      a(href='#') Esqueceu sua Senha?
      button Entrar
  .overlay-container
    .overlay
      .overlay-panel.overlay-left
        h1 Bem vindo de volta!
        p Para se manter conectado conosco, faça o login com suas informações pessoais
        button#signIn.ghost Entrar
      .overlay-panel.overlay-right
        h1 Olá, Amigo(a)!
        p Insira seus dados e comece a jornada Conosco.
        button#signUp.ghost Registrar
footer
  script.
    const signUpButton = document.getElementById('signUp');
    const signInButton = document.getElementById('signIn');
    const container = document.getElementById('container');
    signUpButton.addEventListener('click', () => { container.classList.add("right-panel-active")});
    signInButton.addEventListener('click', () => { container.classList.remove("right-panel-active")});






